DATABASE_URL="postgresql://user:password@localhost:5432/restoran_db?schema=public"
JWT_SECRET="super-secret-key-almashtir"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="refresh-secret-key-almashtir"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3000
