@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html.cart-open,
html.cart-open body {
  overflow: hidden !important;
}

html.cart-open .home-body,
html.cart-open .menu-body,
html.cart-open .checkout-page-wrapper,
html.cart-open .booking-body,
html.cart-open .about-body,
html.cart-open .contacts-body,
html.cart-open .profile-body,
html.cart-open .login-body,
html.cart-open .register-body {
  overflow: hidden !important;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

a {
  color: rgba(8, 8, 8, 1);
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}
